PULSE_PER_KWH = 800 # On Sandbox electricity meter 
INTERVAL = 10  # 10 seconds for testing; change to 3600 for 1 hour in production
RTSP_URL = "rtsp://device_ip_address:554/stream"
API_URL = "http://server_ip_address:1880/events"

# Arguments [h_max, s_max, v_max]  
HSV_LOWER_1 = [0, 120, 70] # Min HSV
HSV_UPPER_1 = [10, 255, 255] # Max HSV

# Red appears at both low and high ends of the hue spectrum
IS_RED_COLOR = True # Set to True if you want to detect red color
HSV_LOWER_2 = [170, 120, 70] # Min HSV. Must set if IS_RED_COLOR = True
HSV_UPPER_2 = [180, 255, 255] # Max HSV. Must set ifF IS_RED_COLOR = True